<%= form_with(model: quote, local: true) do |form| %>

  <!-- Display errors-->
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "erreurs") %> empêchent ce produit/service d'être créé :</h2>
      <ul>
        <% quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card card-form__body card-body">
    <div class="d-flex justify-content-center flex-column text-center my-5 navbar-light">
      <div class="navbar-brand d-flex flex-column m-0" style="min-width: 0">
        <% if current_user.logo.attached? %>
          <%= image_tag current_user.logo, alt: 'logo', width: "100" %>
        <%end %>
        <span><% if quote.is_invoice %>Facture<% else %>Devis<% end %></span>
      </div>
    </div>

    <div class="form-group btn-group-lg mb-5">
      <%= form.label :is_invoice, "Quel est le type de document ?" %><br />

      <div class="form-check form-check-inline">
        <%= form.radio_button :is_invoice, false, checked: true, class: "form-check-input" %>
        <%= form.label :is_invoice, "Devis", value: false, class: "form-check-label" %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :is_invoice, true, class: "form-check-input" %>
        <%= form.label :is_invoice, "Facture", value: true, class: "form-check-label" %>
      </div>
    </div>


    <div class="row">

      <div class="field col-lg-6">
        <%= form.label :customer_id, "À destination de :" %><br/>
        <%= form.select :customer_id, options_for_select(Customer.order(:last_name).collect{ |u| [u.fullname, u.id] }), class: "form-control" %>
      </div>

      <div class="col-lg-6 text-right">
        <%= form.label :user_id, "De la part de :" %><br/>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <p class="mb-4">
          <strong class="text-body"><%= current_user.first_name %> <%= current_user.last_name %></strong><br>
          <%= current_user.company_name %><br>
          <%= current_user.address %><br>
          <%= current_user.zip_code %> <%= current_user.country %><br>
        </p>
      </div>
    </div>

    <p class="lead">Numéro de devis : <span class="small">INITIALES-<%= DateTime.now.strftime("%d%m%Y") %>-01</span> </p>
    <p class="lead">Date d'échéance : <span class="small"><%= 3.days.from_now.strftime("%d/%m/%Y") %></span> </p>

    <hr/>

    <div class="form-group">
      <%= form.label :goods, "Produits ou services :" %><br/>
      <%= form.select :goods, options_for_select(Good.order(:title).collect{ |u| [u.title, u.id] }, class: "form-control") ,{ :prompt => "Select"}, { :multiple => true, :size => 5 } %>
      <hr />
    </div>

<!--    <div class="form-group">-->
<!--      <label for="select03">Multiple</label>-->
<!--      <select id="select03" data-toggle="select" multiple class="form-control">-->
<!--        <option selected>CSS</option>-->
<!--        <option selected>HTML</option>-->
<!--        <option>JavaScript</option>-->
<!--        <option>Bootstrap</option>-->
<!--      </select>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label>Liste des produits/services :</label>-->
      <%#= form.fields_for :goods do |f| %>
<!--        <div id="goods_input_form">-->
          <%#= render 'good_fields', f: f %>
<!--        </div>-->
        <%#= button_to "Ajouter un produit/service", { action: "create" }, remote: true, class: " btn btn-outline-secondary my-3" %>
        <%#= button_to "Ajouter un produit/service", remote: true, class: "btn btn-outline-secondary my-3", id: "add_new_good_btn" %>
      <%# end %>

      <%#= link_to_add_fields "Ajouter un produit/service", form, :goods %>
<!--    </div>-->

    <hr/>

    <div class="bg-dark rounded">
      <h5 class="text-white text-right mr-5 pt-3">Réduction : 00%</h5>
      <hr class="white-hr mx-5">
      <div class="field text-right mr-4 mb-3">
        <%= form.label :amount, "Total :" %><br/>
        <%= form.text_field :amount, value: 500 %> <span class="text-white lead"> €</span>
      </div>
    </div>

    <fieldset disabled>
      <label for="CGV">Termes et conditions :</label>
      <input type="text" class="form-control" id="CGV" value="Conditions générales de vente n°1">
    </fieldset>

    <div class="row justify-content-center">
      <%= form.submit "Valider", class: "btn btn-primary btn-lg mt-4" %>
    </div>
  </div>

<% end %>

<script type="text/javascript" charset="utf-8">
    let add_new_good_btn = document.getElementById("add_new_good_btn");

    add_new_good_btn.addEventListener("click", function() {
        document.getElementById('goods_input_form').insertAdjacentHTML("beforeend", "<j render 'good_fields', good: @good %>");
    })
</script>
