<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card card-form__body card-body">
    <div class="d-flex justify-content-center flex-column text-center my-5 navbar-light">
      <div class="navbar-brand d-flex flex-column m-0" style="min-width: 0">
        <img class="navbar-brand-icon mb-2" src="<%= image_path('calculate_vert.png')%>" width="25" alt="Logo de la compagnie">
        <span><% if @quote.is_invoice %>Facture<% else %>Devis<% end %></span>
      </div>
    </div>

    <div class="row">
      <div class="field col-lg-6">
          <%= form.label :customer_id, "À destination de :" %><br/>
          <%= form.collection_select :customer_id, Customer.order(:last_name), :id, :last_name %>
      </div>
      <div class="col-lg-6 text-right">
        <label>De la part de :</label>
        <p class="mb-4">
          <strong class="text-body"><%= current_user.first_name %> <%= current_user.last_name %></strong><br>
          <%= current_user.company_name %><br>
          <%= current_user.address %><br>
          <%= current_user.zip_code %> <%= current_user.country %><br>
        </p>

        <%= form.label :user_id %>
        <div class="field mb-2">
          <%= form.text_field :user_id %>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg">
        <fieldset disabled>
          <label for="quote_number">Numéro de devis :</label>
          <input type="text" class="form-control" id="quote_number" value="INITIALES-<%= DateTime.now.strftime("%d%m%Y") %>-01">
        </fieldset>
      </div>
      <div class="col-lg text-right">
        <fieldset disabled>
          <label for="date">Date d'échéance :</label>
          <input type="text" class="form-control text-right" id="date" value="<%= 3.days.from_now.strftime("%d/%m/%Y") %>">
        </fieldset>
      </div>
    </div>

    <hr/>

    <%#= form.collection_select :goods, Good.order(:title),:id,:title, id: "goods_list" %>

    <div class="field">
      <label for="date">Liste des produits/services :</label>
      <%= form.fields_for :goods do |f| %>
        <div id="goods_input_form">
          <%= render 'good_fields', f: f %>
        </div>
        <%#= button_to "Ajouter un produit/service", { action: "create" }, remote: true, class: " btn btn-outline-secondary my-3" %>
        <%= button_to "Ajouter un produit/service", remote: true, class: "btn btn-outline-secondary my-3", id: "add_new_good_btn" %>
      <% end %>

      <%= link_to_add_fields "Ajouter un produit/service", form, :goods %>
    </div>

    <hr/>

    <div class="bg-dark rounded">
      <h5 class="text-white text-right mr-5 pt-3">Réduction : 00%</h5>
      <hr class="white-hr mx-5">
      <div class="field text-right mr-4 mb-3">
        <%= form.label :amount, "Total :" %><br/>
        <%= form.text_field :amount %>
      </div>
    </div>

    <fieldset disabled>
      <label for="CGV">Termes et conditions :</label>
      <input type="text" class="form-control" id="CGV" value="Conditions générales de vente n°1">
    </fieldset>

    <div class="actions my-3 text-right">
      <%= form.submit %>
    </div>
  </div>

<!--  <div class="field">-->
    <%#= form.label :quote_number %>
    <%#= form.text_field :quote_number %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :invoice_number %>
    <%#= form.text_field :invoice_number %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :discount %>
    <%#= form.text_field :discount %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :quote_sending_date %>
    <%#= form.text_field :quote_sending_date %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :invoice_sending_date %>
    <%#= form.text_field :invoice_sending_date %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :quote_sending_counter %>
    <%#= form.text_field :quote_sending_counter %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :invoice_sending_counter %>
    <%#= form.text_field :invoice_sending_counter %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :is_paid %>
    <%#= form.text_field :is_paid %>
<!--  </div>-->

<% end %>

<script type="text/javascript" charset="utf-8">
    let add_new_good_btn = document.getElementById("add_new_good_btn");

    add_new_good_btn.addEventListener("click", function() {
        document.getElementById('goods_input_form').insertAdjacentHTML("beforeend", "<j render 'good_fields', good: @good %>");
    })
</script>
