
<div class="row">
  <div class="col-12">
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div>
      <%= f.label :description, "Desc." %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="col-12">
    <div>
      <%= f.label :quantity %>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <div>
      <%= f.label :price %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>
</div>
<div>
  <%= f.label :user_id %>
  <%= f.text_field :user_id, class: "form-control" %>
</div>
