<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Quote number</th>
      <th>Invoice number</th>
      <th>Amount</th>
      <th>Discount</th>
      <th>Quote sending date</th>
      <th>Invoice sending date</th>
      <th>Quote sending counter</th>
      <th>Invoice sending counter</th>
      <th>Is invoice</th>
      <th>Is paid</th>
      <th>User</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.quote_number %></td>
        <td><%= quote.invoice_number %></td>
        <td><%= quote.amount %></td>
        <td><%= quote.discount %></td>
        <td><%= quote.quote_sending_date %></td>
        <td><%= quote.invoice_sending_date %></td>
        <td><%= quote.quote_sending_counter %></td>
        <td><%= quote.invoice_sending_counter %></td>
        <td><%= quote.is_invoice %></td>
        <td><%= quote.is_paid %></td>
        <td><%= quote.user_id %></td>
        <td><%= quote.customer_id %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
