  <div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center">
      <div class="flex">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><%= link_to root_path do %><i class="material-icons icon-20pt">home</i><% end %></li>
            <li class="breadcrumb-item active" aria-current="page">Création de devis/facture</li>
          </ol>
        </nav>
        <h1 class="mt-3">Création de devis/facture</h1>
      </div>
    </div>
  </div>

    <div class="btn-group-lg btn-group-toggle my-2 ml-4" data-toggle="buttons">
      <label class="btn btn-primary btn-lg form-check-label active">
        <input class="form-check-input" type="radio" name="options" id="quote" autocomplete="off" value="" checked>
        Devis
      </label>
      <label class="btn btn-primary btn-lg form-check-label">
        <input class="form-check-input" type="radio" name="options" id="invoice" autocomplete="off">
        Facture
      </label>
    </div>

    <div class="container-fluid page__container">
      <div class="col card card-form__body card-body">
        <div class="form-group">
          <label for="customer_select">À destination de :</label>
          <div class="row flex-wrap-reverse align-items-center">
            <div class="col-lg-11">
              <select
                id="customer_select"
                data-toggle="select"
                class="form-control form-control-lg">
                <option value= "" disabled selected>Choisir un client</option>
                <% current_user.customers.each do |customer| %>
                <option value= "<% customer.id %>"><%= customer.first_name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-lg-1">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="text-right">
          <label>De la part de :</label>
          <p class="mb-4">
            <strong class="text-body"><%= current_user.first_name %> <%= current_user.last_name %></strong><br>
            <%= current_user.company_name %><br>
            <%= current_user.address %><br>
            <%= current_user.zip_code %> <%= current_user.country %><br>
          </p>
          <hr/>
        </div>
        <fieldset disabled>
          <div class="form-group">
            <label for="quote_number">Numéro du devis/de la facture :</label>
            <input type="text" id="quote_number" class="form-control" placeholder="<%= DateTime.now.strftime("%d%m%Y") %>-INITIALES-01">
          </div>
          <div class="form-group">
            <label for="date">Date d'échéance :</label>
            <input type="password" class="form-control" id="date" placeholder="<%= 3.days.from_now.strftime("%d/%m/%Y") %>">
          </div>
        </fieldset>
        <hr/>
        <label for="goods_select">Liste des produits/services :</label>
        <div class="row flex-wrap-reverse align-items-center">
          <div class="col-lg-11">
            <select
              id="goods_select"
              data-toggle="select"
              class="form-control form-control-lg">
              <option value= "" disabled selected>Choisir un produit/service</option>
              <% current_user.goods.each do |good| %>
                <option value= "<% good.id %>"><%= good.title %></option>
              <% end %>
            </select>
          </div>
          <div class="col-lg-1">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <hr/>
        <div class="bg-dark rounded">
          <h5 class="text-white text-right mr-5 pt-3">Réduction : 00%</h5>
          <hr class="white-hr mx-5">
          <h3 class="text-white text-right mr-5 pb-3">Total : 9999€</h3>
        </div>
        <hr/>
        <label for="terms_conditions_select">Termes et conditions :</label>
        <select
          id="terms_conditions_select"
          data-toggle="select"
          class="form-control form-control-lg">
          <option value= "" disabled selected>Choisir les termes et conditions</option>
          <option value= "">Conditions générales de vente n°1</option>
        </select>
        <button type="submit" class="btn btn-primary mt-4" style="float: right;">Valider</button>
      </div>
    </div>
