<p id="notice"><%= notice %></p>

<p>
  <strong>Quote number:</strong>
  <%= @quote.quote_number %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @quote.invoice_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @quote.amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @quote.discount %>
</p>

<p>
  <strong>Quote sending date:</strong>
  <%= @quote.quote_sending_date %>
</p>

<p>
  <strong>Invoice sending date:</strong>
  <%= @quote.invoice_sending_date %>
</p>

<p>
  <strong>Quote sending counter:</strong>
  <%= @quote.quote_sending_counter %>
</p>

<p>
  <strong>Invoice sending counter:</strong>
  <%= @quote.invoice_sending_counter %>
</p>

<p>
  <strong>Is invoice:</strong>
  <%= @quote.is_invoice %>
</p>

<p>
  <strong>Is paid:</strong>
  <%= @quote.is_paid %>
</p>

<p>
  <strong>User:</strong>
  <%= @quote.user_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer_id %>
</p>

<br />
<br />
<br />
<h3>Liste des goods</h3>
<% @quote.goods.each do |good| %>
  <%= good.title %>
  <br />
<% end %>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>

<div id="add_to_me">
  <h1>GeeksforGeeks</h1>
  <p>This is the text which has already been typed into the div</p>
</div>


<button onclick="addCode()">Add Stuff</button>
<script>
    function addCode() {
        document.getElementById("add_to_me").innerHTML +=
            "<%= render 'good_fields', f: f %>";
    }
</script>
