<div class="row justify-content-center">
  <% @body_class = 'layout-login-centered-boxed' %>
  <div class="layout-login-centered-boxed__form card">
    <div class="d-flex flex-column justify-content-center align-items-center mt-2 navbar-light <% if !resource.errors.any? %>mb-5 <% end %>">
      <%= link_to root_path, class: "navbar-brand flex-column mb-2 align-items-center mr-0", style: "min-width: 0" do %>
        <img class="navbar-brand-icon mr-0 mb-2" src="<%= image_path('calculate_vert.png')%>" width="25" alt="Monka logo">
        <span>S'inscrire</span>
      <% end %>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <label class="text-label" for="email_2">Adresse mail :</label>
        <div class="input-group input-group-merge">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-prepended', placeholder: "Entrez votre adresse mail"%>
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-envelope"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">

        <div class="d-flex justify-content-between">
          <%= f.label :password, "Mot de passe", class:'text-label' %>
          <% if @minimum_password_length %>
            <small><em>(<%= @minimum_password_length %> caractères minimum)</em></small>
          <% end %>

        </div>
        <div class="input-group input-group-merge">
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-prepended', placeholder: 'Entrez votre mot de passe' %>
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-key"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation", class:'text-label' %>
        <div class="input-group input-group-merge">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-prepended', placeholder: 'Confirmez votre mot de passe' %>
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-key"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-primary" type="submit">Inscription</button>
      </div>

      <div class="form-group text-center">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
