<%= form_with(model: user, local: true, method: :put) do |form| %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :first_name, "Prénom" %>
      <%= form.text_field :first_name, class: "form-control", autofocus: true %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :last_name, "Nom" %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :company_name, "Nom de l'entreprise" %>
      <%= form.text_field :company_name, class:"form-control", placeholder:"Nom de l'entreprise" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :company_id, "N° de SIRET" %>
      <%= form.text_field :company_id, class:"form-control", placeholder:"N° de SIRET" %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, class:"form-control", placeholder:"Adresse" %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :zip_code, "Code postal" %>
      <%= form.text_field :zip_code, class:"form-control", placeholder:"Code postal" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :city, "Ville" %>
      <%= form.text_field :city, class:"form-control", placeholder:"Ville" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :address, "N° de téléphone" %>
    <%= form.text_field :phone_number, class:"form-control", placeholder:"N° de téléphone" %>
  </div>

  <div class="actions text-center">
    <button type="submit" class="btn btn-primary">Envoyer</button>
    <%= link_to 'Retour', @user, class:"btn btn-secondary mx-5 my-5" %>
  </div>
<% end %>
