<!--Breadcrumb--->
<div class="container-fluid  page__heading-container">
  <div class="page__heading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><%= link_to "Accueil", root_path %></li>
        <li class="breadcrumb-item" aria-current="page"><%= link_to "Mon profil", user_path(current_user), class: "active"%></li>
      </ol>
    </nav>
    <h1 class="mb-2 mt-3">Mon profil</h1>
  </div>
</div>
<!--Breadcrumb--->

<div class="container-small page__container mt-5">
  <div class="card card-form my-5">
    <div class="row no-gutters">
      <!-- Display user's logo -->
      <div class="col card-form__body card-body my-4">
        <div class="row justify-content-center">
          <div class="text-center">
            <div class="mt-2 text-center">
              <% if @user.logo.attached? %>
                <%= image_tag @user.logo, alt: 'logo', width: '100' %>
              <%end%>
            </div>

            <!-- Update logo form -->
            <%= form_tag user_logo_index_path(@user), multipart: true do %>
              <div class="mt-2 text-center">
                <%= file_field_tag :logo, class: "btn btn-outline-secondary" %>
              </div>
              <div class="mt-2 mb-5 text-center">
                <%= submit_tag "Valider", class: "btn btn-outline-secondary" %>
              </div>
            <% end %>

            <p class="text-left"><span class="text-muted">Nom : </span><%= @user.first_name if @user.first_name.present? %> <span style="text-transform: uppercase;"><%= @user.last_name if @user.first_name.present? %></span></p>
            <p class="text-left"><span class="text-muted">Email : </span><%= @user.email if @user.first_name.present? %></p>
            <p class="text-left"><span class="text-muted">Téléphone : </span><%= @user.phone_number if @user.first_name.present? %></p>
            <p class="text-left"><span class="text-muted">Entreprise : </span> <%= @user.company_name if @user.first_name.present? %></p>
            <p class="text-left"><span class="text-muted">Siret / Siren : </span><%= @user.company_id if @user.first_name.present? %></p>
            <p class="text-muted text-left mb-2">Adresse : </p><p class="text-left"><%= @user.address if @user.first_name.present? %> <%= @user.zip_code if @user.first_name.present? %> <%= @user.city if @user.first_name.present? %> <span style="text-transform: uppercase;"><%= @user.country if @user.first_name.present? %></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5 mt-3">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6"><%= link_to 'Mes informations', edit_user_path(current_user), class: "btn btn-primary text-nowrap my-2" %></div>
      <div class="col-lg-6"><%= link_to 'Mon compte', edit_user_registration_path, class: "btn btn-outline-danger my-2" %></div>
    </div>
  </div>
</div>
