<!--Breadcrumb--->
<div class="container-fluid  page__heading-container">
  <div class="page__heading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><%= link_to "Accueil", root_path %></li>
        <li class="breadcrumb-item" aria-current="page"><%= link_to "Mon profil", user_path(current_user), class: "active"%></li>
      </ol>
    </nav>
    <h1 class="mb-2 mt-3">Mon profil</h1>
  </div>
</div>
<!--Breadcrumb--->

<div class="container-small page__container mt-5">
  <div class="card card-form my-5">
    <div class="row no-gutters">
      <!-- Display user's logo -->
      <div class="col card-form__body card-body my-5">
        <div class="row justify-content-center my-1">
          <% if @user.logo.attached? %>
            <%= image_tag @user.logo, alt: 'logo', width: '100' %>
          <%end%>

          <!-- Update logo form -->
            <%= form_tag user_logo_index_path(@user), multipart: true do %>
            <div class="justify-content-center">
              <%= file_field_tag :logo %>
            </div>
            <div class="justify-content-center">
              <%= submit_tag "Mettre à jour", class: "btn btn-outline-secondary" %>
            </div>
            <% end %>
        </div>

        <div class="row justify-content-center">
          <div class="col-6">
            <p><span class="text-muted">Nom : </span><%= @user.first_name %> <%= @user.last_name.upcase %></p>
            <p><span class="text-muted">Email : </span><%= @user.email %></p>
            <p><span class="text-muted">Téléphone : </span><%= @user.phone_number %></p>
            <p><span class="text-muted">Entreprise : </span> <%= @user.company_name %></p>
            <p><span class="text-muted">Siret / Siren : </span><%= @user.company_id %></p>
            <p><span class="text-muted">Adresse : </span><br/><%= @user.address %> <%= @user.zip_code %> <%= @user.city %> <%= @user.country.upcase %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to "Editer mon profil", edit_user_path(current_user), class: "btn btn-jumbo2 mr-5 p-3 my-5" %>
  <%= link_to "Changer de mot de passe", edit_user_registration_path, class:"btn btn-jumbo2 mr-5 p-3 my-5" %>
  <%= link_to 'Retour Accueil', root_path, class:"btn btn-jumbo p-3 my-5" %>
  <br><br><br>
</div>
