<div class="form-group text-right">
  <label>De la part de :</label>
  <p class="mb-4">
    <strong class="text-body"><%= current_user.first_name %> <%= current_user.last_name %></strong><br>
    <%= current_user.company_name %><br>
    <%= current_user.address %><br>
    <%= current_user.zip_code %> <%= current_user.country %><br>
  </p>
  <hr/>
</div>
