<section>
  <div class="justify-content-center my-2">
    <!-- Loom integration -->
    <h2 class="display-5 text-center my-5">Comment <span class="green-new font-weight-bold">piloter efficacement son activité</span> <br>quand on est auto-entrepreneur?</h2>
    <br>
    <p class="text-center my-3"> Monka c'est une <strong>application simple pour gérer vos devis, vos factures</strong> <br>et surtout, toujours garder un oeil sur votre activité<br> n'importe où, n'importe quand !</p>
    <div class="my-5">
      <div class="video-container">
        <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.youtube.com/embed/3L1-UVihpUk" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
      </div>
    </div>
    <br>
</section>

<!-- Three columns Benefits -->
<section>
  <h2 class="display-5 text-center my-5"><span class="green-new font-weight-bold">Monka</span> en quelques mots c'est...</h2>
  <br>
  <div class="row my-5">
    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "easy.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h3 class= "display-9 text-center my-5">Simple</h3>
      <p>Une application qui regroupe les fonctionnalités de gestion essentielles, accessible à tous les auto-entrepreneurs.</p>
      <br>
    </div>

    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "essential.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h3 class= "display-9 text-center my-5">Rapide</h3>
      <p>Pas besoin de passer des heures derrière un écran pour connaître son activité et gérer ses factures.</p>
      <br>
    </div>

    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "device.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h3 class= "display-9 text-center my-5">Pratique</h3>
      <p>Monka vous suit partout, vous permet de gérer vos factures et devis n'importe où, n'importe quand.</p>
      <br>
    </div>
  </div>
  <br>
</section>
<!-- How it works -->
<section class="my-5">
  <h2 class="display-5 text-center my-5">Comment <span class="green-new font-weight-bold">ça marche ?</span> </h2>
  <br>
  <div class="row featurette my-5">
    <div class="col-md-5">
      <span class="display-3 mb-2 blue-darken font-weight-bold">01</span>
      <h3 class="featurette-heading">Tableau de bord</h3>
      <p>Accédez rapidement à l'essentiel de votre activité avec Monka. Finis l'approximatif et les mauvaises surprises en fin de mois</p>
      <ul>
        <li>Quel est mon chiffre d'affaire sur l'année ? Au mois ?</li>
        <li> Combien de factures envoyées en attente de paiement ?</li>
      </ul>
      <p>La réponse grâce à Monka...</p>
    </div>
    <div class="col-md-7">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="900" height="900" src="<%= image_path "step1.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="50" height="50" src="<%= image_path "bulbglight.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>
  <br>
  <br>
  <div class="class row justify-content-start">
    <div class="col-lg-2">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="30" height="30" src="<%= image_path "bluegreybubble.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
    <div class="col-lg-5">
      <br>
      <br>
      <br>
      <!--==============-->
</section>
<section>
  <div class="row featurette my-5">
    <div class="col-md-5 order-md-2">
      <span class=" display-3 mb-2 blue-darken font-weight-bold">02</span>
      <h3 class="featurette-heading">Ajoutez vos clients, prestations ou produits</h3>
      <p>Créez facilement vos clients, vos produits ou prestations selon les cas. Modifiez et actualisez à l'envie pour vous simplifier la vie !</p>
    </div>
    <div class="col-md-7 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="700" src="<%= image_path "step2.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="50" height="50" src="<%= image_path "bulbglight.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>

  <!--===============-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row featurette my-5">
    <div class="col-md-5">
      <span class=" display-3 mb-2 blue-darken font-weight-bold">03</span>
      <h3 class="featurette-heading">Créez vos devis et vos factures</h3>
      <p><strong>Générez en un clic autant de devis que désirés</strong>, transformez-les en factures et envoyez-les, dans la foulée à vos clients !</p>
    </div>
    <div class="col-md-7">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="900" height="900" src="<%= image_path "step3.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="40" height="40" src="<%= image_path "bulbglight.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>
</section>
<br>

<!--========call to action button=============-->
<section>
  <div class="text-center my-1">
    <%= link_to "Connexion", new_user_session_path, class: 'btn btn-jumbo4 m-2 p-3 shadow mb-5' %>
    <%= link_to "Inscription", new_user_registration_path, class: 'btn btn-jumbo5 m-2 p-3 shadow mb-5' %>
  </div>
</section>
<br>
<hr class="landing shadow-sm">
<br>
<section class= "my-5 container">
  <div class="container">
    <h2 class="display-5 text-center m-5"> L'identité <span class="green-new font-weight-bold">Monka</span></h2>
    <br>
    <!--  ===============Vision-->
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card2 h-100 rounded-lg m-3">
          <div class="justify-content-center ">
            <img src="<%= image_path "vision.jpg" %>" class="card-img-top img-fluid mx-auto " width="700px" height="700px" alt="la vision monka">
          </div>
          <div class="justify-content-center  ">
            <h3 class="card-title display-6 px-5 pt-3 text-uppercase font-weight-bold">Notre vision</h3>
            <p class="card-text px-5 pb-3">Piloter son activité devrait être facile ! Tout entrepreneur devrait pouvoir piloter son entreprise, fort d' informations clés telles comme le chiffre d'affaire ou l'état des lieux de sa facturation.</p>
          </div>
        </div>
      </div>

      <!--  ===============Mission-->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card1 h-100 rounded-lg m-3">
          <div class="justify-content-center ">
            <img src="<%= image_path "mission.jpg" %>" class=" card-img-top img-fluid mx-auto" width="900px" height="900px" alt="la mission monka">
          </div>
          <div class="justify-content-center ">
            <h3 class="card-title display-6 px-5 pt-3 text-uppercase font-weight-bold blue-light">Notre mission</h3>
            <p class="card-text px-5 pb-3">Être le compagnon de route des auto-entrepreneurs. Monka est là pour les aider à gérer efficacement leur activité, sans se noyer dans l'administratif de gestion. </p>
          </div>
        </div>
      </div>

    </div>

</section>
<br>
<br>
<!--===========USP===========-->
<section class="py-5">
  <div class="container w-75">
    <h2 class=" display-5 text-center">Ce petit <span class="green-new font-weight-bold">quelque chose en plus...</span></h2>
    <div class="row justify-content-center my-4"><img class="mx-1" src="<%= image_path "calculate_vert.png" %>" width="25" height="25" alt=""><img class="mx-1" src="<%= image_path "calculate_vert.png" %>" width="25" height="25" alt=""><img class="mx-1" src="<%= image_path "calculate_vert.png" %>" width="25" height="25" alt=""></div>
    <br>
    <p class="text-center">Notre principe: "aller à l'essentiel". De-là est né Monka, aussi simple que "Mon CA".
      Avec Monka, pas de superflu ! Clarté, utilité et efficacité sont mises au centre de tout. Notre proposition de valeur ? Une application de gestion de factures <span class="font-weight-bold">simple</span>, <span class="font-weight-bold">lisible</span> et surtout <span class="font-weight-bold">pratique</span> qui permet à l'auto-entrepreneur d'accéder facilement à l'essentiel de ses chiffres pour maîtriser son activité. </p>
  </div>
</section>

<br>
<!--========CUSTOMERS=============-->
<hr class="landing shadow-sm">
<br>
<section class="pt-5 pb-2">
  <div class="container text-center">
    <h2 class=" display-5 text-center">Ce que <span class="green-new font-weight-bold">nos clients</span> disent de nous...😍</h2>
    <div class="row">
      <div class="carousel slide my-4" id="carousel-testimonials-02" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4 mt-5">
                <p class="mb-4">Grâce à Monka, je gagne un temps considérable! Je peux gérer mes factures dans les transports, n'importe où, sans contrainte !</p>
                <img class="mx-auto rounded-circle" src="<%= image_path "client1.jpeg" %>" alt="" height="60" width="60">
                <p class="mt-4 mb-0">Colin</p>
                <p class="text-muted">Developpeur web - Freelance</p>
              </div>
              <div class="col-md-4 mt-5">
                <p class="mb-4">Au début, j'étais sceptique, mais là j'adhère complètement! Une appli sans chichi, simple et hyper intuitive.</p>
                <img class="mx-auto rounded-circle" src="<%= image_path "client2.jpeg" %>" alt="" height="60" width="60">
                <p class="mt-4 mb-0">Luce</p>
                <p class="text-muted">Commerciale - Maman à plein temps</p>
              </div>
              <div class="col-md-4 mt-5">
                <p class="mb-4">Mon métier, c'est le bois ! Si j'ai choisi d'être auto-entrepreneur c'est pour aller au plus simple! Monka m'aide à garder le cap au quotidien ! </p>
                <img class="mx-auto rounded-circle" src="<%= image_path "client3.png" %>" alt="" height="60" width="60">
                <p class="mt-4 mb-0">Alphonse</p>
                <p class="text-muted">Ebéniste</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4 mt-5">
                <p class="mb-4">Grâce à Monka, je reste zen en toute circonstance, y compris les fins de mois, finies les mauvaises surprises !</p>
                <img class="mx-auto rounded-circle" src="<%= image_path "client4.png" %>" alt="" height="60" width="60">
                <p class="mt-4 mb-0">Naima</p>
                <p class="text-muted">Hypnothérapeuthe</p>
              </div>
              <div class="col-md-4 mt-5">
                <p class="mb-4">Pour moi qui ai horreur de l'administratif, Monka est une aubaine. En un clic je règle tout ! Je suis fan !</p>
                <img class="mx-auto rounded-circle" src="<%= image_path "client5.jpeg" %>" alt="" height="60" width="60">
                <p class="mt-4 mb-0">Tom</p>
                <p class="text-muted">Tapissier</p>
              </div>
              <div class="col-md-4 mt-5">
                <p class="mb-4">Ce métier a des contraintes particulières concernant les horaires. Mon peu de temps de disponible, je préfère le passer avec ma famille que mes factures. Heureusement que Monka est là !</p>
                <img class="mx-auto rounded-circle" src="<%= image_path "client6.png" %>" alt="" height="60" width="60">
                <p class="mt-4 mb-0">Karl</p>
                <p class="text-muted">Cusinier à domicile</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto"><a class="carousel-control-prev position-relative d-inline mr-2" href="#carousel-testimonials-02" role="button" data-slide="prev"><img src="placeholder/icons/chevron-left.svg" aria-hidden="true" alt=""><span class="sr-only">Previous</span></a><a class="carousel-control-next position-relative d-inline" href="#carousel-testimonials-02" role="button" data-slide="next"><img src="placeholder/icons/chevron-right.svg" aria-hidden="true" alt=""><span class="sr-only">Next</span></a></div>
    </div>
  </div>
</section>
<!--=======button contact=======-->
<section class="row justify-content-center">
  <div class="text-center my-5">
    <%= link_to "On s'en parle ?", contacts_path, class: 'btn btn-jumbo5 m-2 p-3 shadow mb-5' %>
  </div>
</section>

</div>

