<div class="justify-content-center my-2">
  <!-- Loom integration -->
  <h2 class="display-5 text-center my-5">Comment <span class="green-new">piloter efficacement son activité</span> quand on est auto-entrepreneur?</h2>
  <p class="text-center my-3"> Monka c'est une application simple pour gérer vos devis, vos factures et surtout, toujours garder un oeil sur votre activité, n'importe où, n'importe quand !</p>
  <div class="my-5">
    <div class="video-container">
      <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/2d9fe666b21747e9b60fbce27d1babeb" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
  </div>
  <br>

  <!-- Three columns Benefits -->
  <h2 class="display-5 text-center my-5"><span class="green-new">Monka</span> en quelques mots c'est...</h2>
  <br>
  <div class="row my-5">
    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "easy.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h3 class= "display-9 text-center my-5">Simple</h3>
      <p>Une application qui regroupe les fonctionnalités de gestion essentielles, accessible à tous les auto-entrepreneurs.</p>
      <br>
    </div>

    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "essential.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h3 class= "display-9 text-center my-5">Rapide</h3>
      <p>Pas besoin de passer des heures derrière un écran pour connaître son activité et gérer ses factures.</p>
      <br>
    </div>

    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "device.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h3 class= "display-9 text-center my-5">Pratique</h3>
      <p>Monka vous suit partout, vous permet de gérer vos factures et devis n'importe où, n'importe quand.</p>
      <br>
    </div>
  </div>
  <br>

  <!-- How it works -->
<section class="my-5">
  <h2 class="display-5 text-center my-5">Comment <span class="green-new">ça marche ?</span> </h2>
  <br>
  <div class="row featurette my-5">
    <div class="col-md-5">
      <span class="display-3 mb-2 green-new">01</span>
      <h3 class="featurette-heading">Tableau de bord</h3>
      <p>Accédez rapidement à l'essentiel de votre activité avec Monka. Finis l'approximatif et les mauvaises surprises en fin de mois</p>
      <ul>
        <li>Quel est mon chiffre d'affaire sur l'année ? Au mois ?</li>
        <li> Combien de factures envoyées en attente de paiement ?</li>
      </ul>
      <p>La réponse grâce à Monka...</p>
    </div>
    <div class="col-md-7">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="900" height="900" src="<%= image_path "step1.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>
  <br>
  <br>
  <br>
  <!--==============-->

  <div class="row featurette my-5">
    <div class="col-md-5 order-md-2">
      <span class=" display-3 mb-2 green-new">02</span>
      <h3 class="featurette-heading">Ajoutez vos clients, prestations ou produits</h3>
      <p>Créez facilement vos clients, vos produits ou prestations selon les cas. Modifiez et actualisez à l'envie pour vous simplifier la vie !</p>
    </div>
    <div class="col-md-7 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="700" src="<%= image_path "step2.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>

  <!--===============-->
  <br>
  <br>
  <br>
  <div class="row featurette my-5">
    <div class="col-md-5">
      <span class=" display-3 mb-2 green-new">03</span>
      <h3 class="featurette-heading">Créez vos devis et vos factures</h3>
      <p>Générez en un clic autant de devis que désirés, transformez-les en factures et envoyez-les, dans la foulée à vos clients !</p>
    </div>
    <div class="col-md-7">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="900" height="900" src="<%= image_path "step3.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>
</section>
  <br>
  <br>
  <br>

  <section class= "my-5 container">
    <div class="container">
      <h2 class="display-5 text-center m-5"> L'identité <span class="green-new">Monka</span></h2>
      <br>
      <!--  ===============Vision-->
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card h-100">
              <div class="justify-content-center ">
                <img src="<%= image_path "vision.png" %>" class="img-fluid mx-auto " width="700px" height="700px" alt="la vision monka">
              </div>
              <div class="justify-content-center  ">
                <h3 class="card-title p-5">Notre vision</h3>
                <p class="card-text p-5">Piloter son activité devrait être facile ! Tout entrepreneur devrait pouvoir piloter son entreprise, fort d' informations clés telles comme le chiffre d'affaire ou l'état des lieux de sa facturation.</p>
              </div>
            </div>
          </div>

        <!--  ===============Mission-->
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card h-100">
              <div class="justify-content-center ">
                <img src="<%= image_path "mission.png" %>" class="img-fluid mx-auto" width="900px" height="900px" alt="la mission monka">
              </div>
              <div class="justify-content-center ">
                <h3 class="card-title p-5">Notre mission</h3>
                <p class="card-text p-5">Être le compagnon de route des auto-entrepreneurs. Monka est là pour les aider à gérer efficacement leur activité, sans se noyer dans l'administratif de gestion. </p>
              </div>
            </div>
          </div>

        </div>

  </section>

  <!--===========USP===========-->
  <section class="py-5">
    <div class="container">
      <h2 class=" display-5 text-center"><span class="green-new">Monka</span>, ce petit quelque chose en plus...</h2>
      <div class="d-flex justify-content-center my-4"><img class="mx-1" src="<%= image_path "calculate_vert.png" %>" width="25" height="25" alt=""><img class="mx-1" src="<%= image_path "calculate_vert.png" %>" width="25" height="25" alt=""><img class="mx-1" src="<%= image_path "calculate_vert.png" %>" width="25" height="25" alt=""></div>
      <p>Notre principe: "aller à l'essentiel". De-là est né Monka, aussi simple que "Mon CA".<br>
        Avec Monka, pas de superflu ! Clarté, utilité et efficacité sont mises au centre de tout. Notre proposition de valeur ? Une application de gestion de factures simple, lisible et surtout pratique qui permet à l'auto-entrepreneur d'accéder facilement à l'essentiel de ses chiffres pour maîtriser son activité. </p>
    </div>
  </section>

  <!--========call to action button=============-->
  <div class="text-center my-5">
    <%= link_to "Connexion", new_user_session_path, class: 'btn btn-jumbo2 m-2 p-3 shadow mb-5' %>
    <%= link_to "Inscription", new_user_registration_path, class: 'btn btn-jumbo2 m-2 p-3 shadow mb-5' %>
  </div>


</div>

