<div class="justify-content-center my-2">
  <!-- Loom integration -->
  <h2 class="display-8 text-center my-5">Comment <span class="green-new">piloter efficacement son activité</span> quand on est auto-entrepreneur?</h2>
  <p class="text-center my-3"> Monka c'est une application simple pour gérer vos devis, vos factures et surtout, toujours garder un oeil sur votre activité, n'importe où, n'importe quand !</p>
  <div class="my-5">
    <div class="video-container">
      <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/2d9fe666b21747e9b60fbce27d1babeb" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
  </div>

  <!-- Three columns Benefits -->
  <h3 class="display-9 text-center my-5"><span class="green-new">Monka</span> en quelques mots c'est...</h3>
  <div class="row my-5">
    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "easy.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h4 class= "display-9 text-center my-5">Simple</h4>
      <p>Une application qui regroupe les fonctionnalités de gestion essentielles, accessible à tous les auto-entrepreneurs.</p>
      <br>
    </div>

    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "essential.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h4 class= "display-9 text-center my-5">Synthétique</h4>
      <p>Obtenez votre CA, sommes avant plafond et performances passées en quelques secondes.</p>
      <br>
    </div>

    <div class="col-lg-4 text-center">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="80" height="80" src="<%= image_path "device.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
      <h4 class= "display-9 text-center my-5">Pratique</h4>
      <p>Monka vous suit partout, vous permet de gérer vos factures et devis n'importe où, n'importe quand.</p>
      <br>
    </div>
  </div>

  <!-- How it works -->
  <hr class="featurette-divider text-white my-5">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Editer des factures depuis votre smartphone<span class="green-new"> n'importe où, n'importe quand, ne perdez plus de temps!</span></h2>
      <p class="lead">Quand on est auto-entrepreneur, c'est pour aller à l'essentiel sans trop de complication. Pour cette raison, Monka s'est concentré sur les tâches les plus chronophages de votre quotidien, comme l'édition de devis et de factures. Et hop ! moins d'administratif, plus de temps de loisirs !</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="700" src="<%= image_path "biased.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Tout sur son CA en un clic<span class="green-new"> pour aller à l'essentiel</span></h2>
      <p class="lead">Pas besoin d'être comptable pour savoir combien vous devez faire de chiffre avant d'atteindre votre pflafond, ou de faire des additions de CA. Néanmoins, il faut le temps et la disponibilité et Monka est là pour vous en faire gagner !</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="shadow mb-5 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="<%= image_path "iphone_mup_CA_smarties.jpg" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Intuitive et pratique<span class="green-new"> pour vous suivre partout au quotidien.</span></h2>
      <p class="lead">Certains sont plus à l'aise que d'autres quand il s'agit de technologies, mais cela ne devrait jamais interférer avec la gestion de son activité, déjà suffisamment compliquée. Alors chez Monka, c'est aussi simple que de griffonner sur un papier. On crée un client, on ajoute une prestation et le tour est joué !</p>
    </div>
    <div class="col-md-5">
      <img class="shadow mb-5 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="<%= image_path "ipad-pro-on-white-table.png" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="text-center my-5">
    <%= link_to "Connexion", new_user_session_path, class: 'btn btn-jumbo2 m-2 p-3 shadow mb-5' %>
    <%= link_to "Inscription", new_user_registration_path, class: 'btn btn-jumbo2 m-2 p-3 shadow mb-5' %>
  </div>
</div>

