<h2 class="h1 text-center my-3">Modifier le client</h2>

<!-- Flash message -->
<% if @customer.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Oups! des erreurs dans le formulaire...</p>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Form -->

<div class="row justify-content-center">
  <div class="col-6">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <div class="form-group">
        <%= label_tag 'Prénom :' %>
        <%= text_field_tag 'title', @customer.first_name, {class: 'form-control', placeholder: "Prénom"} %>
      </div>
      <div class="form-group">
        <%= label_tag 'Nom :' %>
        <%= text_field_tag 'title', @customer.last_name, {class: 'form-control', placeholder: "Nom"} %>
      </div>
      <div class="form-group">
        <%= label_tag 'Société :' %>
        <%= text_field_tag 'title', @customer.company_name, {class: 'form-control', placeholder: "Société"} %>
      </div>
      <div class="form-group">
        <%= label_tag 'Siret ou Siren :' %>
        <%= text_field_tag 'title', @customer.company_id, {class: 'form-control', placeholder: "Siret ou Siren"} %>
      </div>
      <div class="form-group">
        <%= label_tag 'Email :' %>
        <%= text_field_tag 'title', @customer.email, {class: 'form-control', placeholder: "Email"} %>
      </div>
      <div class="row col-lg-4">
        <div class="form-group">
          <%= label_tag 'Adresse :' %>
          <%= text_field_tag 'title', @customer.address, {class: 'form-control', placeholder: "Adress"} %>
        </div>
        <div class="form-group">
          <%= label_tag 'Code postal :' %>
          <%= text_field_tag 'title', @customer.zip_code, {class: 'form-control', placeholder: "code postal"} %>
        </div>
        <div class="form-group">
          <%= label_tag 'Pays :' %>
          <%= text_field_tag 'title', @customer.country, {class: 'form-control', placeholder: "pays"} %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'Téléphone :' %>
        <%= text_field_tag 'title', @customer.phone_number, {class: 'form-control', placeholder: "téléphone"} %>
      </div>

        <div class="row justify-content-center my-5">
          <%= submit_tag "Valider", {class: 'btn btn-primary'} %>
        </div>
      <% end %>
  </div>
</div>