<!-- Content title -->
<h2 class="h1 text-center my-5">Mes clients</h2>

<!-- Button to add a client -->
<div class="nav justify-content-end my-5">
  <%= link_to "Créer un client", new_customer_path , class: "btn btn-primary mr-5" %>
</div>

<!-- Table -->
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Entreprise</th>
      <th>Email</th>
      <th>modifier</th>
      <th>supprimer</th>
    </tr>
    </thead>
    <% @customers.each do |customer| %>
      <tbody>
        <tr>
          <td><%=customer.first_name %></a></td>
          <td><%=customer.last_name %></td>
          <td><a href="<%= customer_path(customer.id) %>"><%=customer.company_name %></a></td>
          <td><%=customer.email %></td>
          <td><a href="<%= edit_customer_path(customer.id) %>"><i class="fas fa-pen"></i></a></td>
<!--          <td><a href="<%#= customer_path(customer.id) %>"><i class="fas fa-times"></i></a></td>-->
          <td><%= form_tag customer_path(customer.id), method: "delete" do %>
            <%= submit_tag "Supprimer", {class: 'btn btn-danger btn-block'} %>
          <% end %></td>
        </tr>
      </tbody>
  <% end %>










