<!--Breadcrumb--->
<div class="container-fluid  page__heading-container">
  <div class="page__heading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><%= link_to "Accueil", root_path %></li>
        <li class="breadcrumb-item" aria-current="page"><%= link_to "Mes clients", customers_path, class: "active"%></li>
      </ol>
    </nav>
    <h1 class="mb-2 mt-3">Page client</h1>
  </div>
</div>

<div class="container-small page__container mt-5">
  <div class="card card-form my-5">
    <div class="row no-gutters">
      <!-- Display user's logo -->
      <div class="col card-form__body card-body my-4">
        <div class="row justify-content-center">
          <div class="text-center">
            <p class="text-left"><span class="text-muted">Nom : </span><%= @customer.first_name %> <%= @customer.last_name.upcase %></p>
            <p class="text-left"><span class="text-muted">Email : </span><%= @customer.email %></p>
            <p class="text-left"><span class="text-muted">Téléphone : </span><%= @customer.phone_number %></p>
            <p class="text-left"><span class="text-muted">Statut : </span><% if @customer.is_professional %> Professionel<% else %>Particulier<%end %></p>
            <p class="text-left"><span class="text-muted">Entreprise : </span> <%= @customer.company_name %></p>
            <p class="text-left"><span class="text-muted">Siret / Siren : </span><%= @customer.company_id %></p>
            <p class="text-muted text-left mb-2">Adresse : </p><p class="text-left"><%= @customer.address %> <%= @customer.zip_code %> <%= @customer.city %> <%= @customer.country.upcase %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5 mt-3">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6"><%= link_to 'Modifier', edit_customer_path(@customer), class: "btn btn-primary text-nowrap my-2" %></div>
      <div class="col-lg-6"><%= link_to 'Supprimer', customer_path(@customer.id), method: :delete, class: "btn btn-outline-danger my-2" %></div>
    </div>
  </div>
</div>
