<%= form_with(model: good, local: true) do |form| %>

  <% if good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(good.errors.count, "erreurs") %> empêchent ce formulaire d'être envoyé :</h2>
      <ul>
        <% good.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Titre du produit ou du service", autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Saisissez une description..." %>
  </div>

  <div class="form-group">
    <%= form.label :quantity, "Quantité" %>
    <%= form.text_field :quantity, class: "form-control", placeholder: "13" %>
  </div>

  <div class="form-group">
    <%= form.label :price, "Prix" %>
    <%= form.text_field :price, class: "form-control", placeholder: "25€" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <div class="row">
      <%= form.submit "Envoyer", class: "btn btn-primary mx-auto" %>
    </div>
  </div>
<% end %>
