<div class="mdk-drawer js-mdk-drawer" id="default-drawer" data-align="start">
  <div class="mdk-drawer__content">
<div class="sidebar bg-dark sidebar-dark sidebar-left simplebar" data-simplebar>
      <div class="sidebar-heading sidebar-m-t">Menu</div>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item <% if current_page?(root_path) || current_page?(flowdash_path(:index)) || current_page?(flowdash_path(:staff)) ||  current_page?(flowdash_path(:analytics)) ||  current_page?(flowdash_path(:dashboard)) %> active open<% end %>">
          <a class="sidebar-menu-button" data-toggle="collapse" href="#dashboards_menu">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
            <span class="sidebar-menu-text">Dashboards</span>
            <span class="ml-auto sidebar-menu-toggle-icon"></span>
          </a>
          <ul class="sidebar-submenu collapse <% if current_page?(root_path) || current_page?(flowdash_path(:index)) || current_page?(flowdash_path(:staff)) ||  current_page?(flowdash_path(:analytics))  ||  current_page?(flowdash_path(:dashboard)) %> show<% end %>" id="dashboards_menu">
            <li class="sidebar-menu-item <% if current_page?(root_path) || current_page?(flowdash_path(:index))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:index) %>">
                <span class="sidebar-menu-text">Default</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:dashboard))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:dashboard) %>">
                <span class="sidebar-menu-text">Analytics</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:staff))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:staff) %>">
                  <span class="sidebar-menu-text">CRM/Staff</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:analytics))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:analytics) %>">
                  <span class="sidebar-menu-text">E-commerce</span>
              </a>
            </li>
          </ul>
        </li>      
        <li class="sidebar-menu-item<% if current_page?(flowdash_path(:app_trello)) || current_page?(flowdash_path(:app_projects)) ||  current_page?(flowdash_path(:app_calendar))  ||  current_page?(flowdash_path(:app_chat)) %> active open<% end %>">
          <a class="sidebar-menu-button" data-toggle="collapse" href="#apps_menu">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">slideshow</i>
            <span class="sidebar-menu-text">Apps</span>
            <span class="ml-auto sidebar-menu-toggle-icon"></span>
          </a>
          <ul class="sidebar-submenu collapse <% if current_page?(flowdash_path(:app_trello)) || current_page?(flowdash_path(:app_projects)) ||  current_page?(flowdash_path(:app_calendar))  ||  current_page?(flowdash_path(:app_chat)) %>show<%end %>" id="apps_menu">
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:app_trello))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:app_trello) %>">
                <span class="sidebar-menu-text">Trello</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:app_projects))%>active<% end%>">
                <a class="sidebar-menu-button" href="<%= flowdash_path(:app_projects) %>">
                  <span class="sidebar-menu-text">Projects</span>
                </a>
              </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:app_calendar))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:app_calendar) %>">
                <span class="sidebar-menu-text">Event Calendar</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:app_chat))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:app_chat) %>">
                <span class="sidebar-menu-text">Chat</span>
              </a>
            </li>
          </ul>
        
        </li>

        <li class="sidebar-menu-item <% if current_page?(flowdash_path(:stories)) || current_page?(flowdash_path(:invoice)) ||  current_page?(flowdash_path(:pricing))  ||  current_page?(flowdash_path(:edit_account)) %>active open<% end %>">
          <a class="sidebar-menu-button" data-toggle="collapse" href="#pages_menu">
            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">description</i>
            <span class="sidebar-menu-text">Pages</span>
            <span class="ml-auto sidebar-menu-toggle-icon"></span>
          </a>
          <ul class="sidebar-submenu collapse <% if current_page?(flowdash_path(:stories)) || current_page?(flowdash_path(:invoice)) ||  current_page?(flowdash_path(:pricing))  ||  current_page?(flowdash_path(:edit_account)) %>show<%end %>"  id="pages_menu">
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:stories))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:stories) %>">
                <span class="sidebar-menu-text">Stories</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:invoice))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:invoice) %>">
                <span class="sidebar-menu-text">Invoice</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:pricing))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:pricing) %>">
                <span class="sidebar-menu-text">Pricing</span>
              </a>
            </li>
            <li class="sidebar-menu-item <% if current_page?(flowdash_path(:edit_account))%>active<% end%>">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:edit_account) %>">
                <span class="sidebar-menu-text">Edit Account</span>
              </a>
            </li>
        
            <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:login) %>">
                <span class="sidebar-menu-text">Login</span>
              </a>
            </li>
        
            <li class="sidebar-menu-item">
              <a class="sidebar-menu-button" href="<%= flowdash_path(:sign_up) %>">
                <span class="sidebar-menu-text">Sign Up</span>
              </a>
            </li>
        
          </ul>
        
        </li>

       
      </ul>
      <div class="sidebar-heading">UI Components</div>
      <div class="sidebar-block p-0">
        <ul class="sidebar-menu" id="components_menu">
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_buttons))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_buttons) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">mouse</i>
              <span class="sidebar-menu-text">Buttons</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_alerts))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_alerts) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">notifications</i>
              <span class="sidebar-menu-text">Alerts</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_avatars))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_avatars) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
              <span class="sidebar-menu-text">Avatars</span>
              <span class="badge badge-primary ml-auto">NEW</span>
            </a>
            
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_modals))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_modals) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">aspect_ratio</i>
              <span class="sidebar-menu-text">Modals</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_charts))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_charts) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">pie_chart_outlined</i>
              <span class="sidebar-menu-text">Charts</span>
              <span class="badge badge-warning ml-auto">PRO</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_icons))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_icons) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">brush</i>
              <span class="sidebar-menu-text">Icons</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_forms))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_forms) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">text_format</i>
              <span class="sidebar-menu-text">Forms</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_time_date))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_time_date) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">event_available</i>
              <span class="sidebar-menu-text">Time &amp; Date</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_tables))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_tables) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dns</i>
              <span class="sidebar-menu-text">Tables</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_loaders))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_loaders) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">refresh</i>
              <span class="sidebar-menu-text">Loaders</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_drag_drop))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_drag_drop) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">control_point</i>
              <span class="sidebar-menu-text">Drag &amp; Drop</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_pagination))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_pagination) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">last_page</i>
              <span class="sidebar-menu-text">Pagination</span>
            </a>
          </li>
          <li class="sidebar-menu-item <% if current_page?(flowdash_path(:ui_vector_maps))%>active<% end%>">
            <a class="sidebar-menu-button" href="<%= flowdash_path(:ui_vector_maps) %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">location_on</i>
              <span class="sidebar-menu-text">Vector Maps</span>
            </a>
          </li>
        </ul>
  
        <div class="sidebar-p-a sidebar-b-y">
          <div class="d-flex align-items-top mb-2">
            <div class="sidebar-heading m-0 p-0 flex text-body js-text-body">Progress</div>
            <div class="font-weight-bold text-success">60%</div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="sidebar-p-a">
        <a href="https://railsthemes.com" class="btn btn-primary btn-block">Purchase &dollar;99</a>
      </div>

    </div>
  </div>
</div>