<!-- Create order Button -->
<div class="row justify-content-center my-3">
  <%= render 'charges/stripe_form', {quote: @quote} %>
</div>

<div class="container-fluid page__container">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <%# if @quote.is_invoice %>
          <%# if DateTime.now > @quote.invoice_sending_date + 3.days %>
          <!--              <div class="badge badge-danger">EN RETARD</div>-->
          <%# end %>
          <%# else %>
          <%# if DateTime.now > @quote.quote_sending_date + 3.days %>
          <!--              <div class="badge badge-danger">EN RETARD</div>-->
          <%# end %>
          <%# end %>
          <div class="px-3">
            <div class="d-flex justify-content-center flex-column text-center my-5 navbar-light">
              <div class="navbar-brand d-flex flex-column m-0" style="min-width: 0">
                <% if @quote.user.logo.attached? %>
                  <%= image_tag @quote.user.logo, alt: 'logo', width: "100" %>
                <%end %>
                <span><% if @quote.is_invoice %>Facture<% else %>Devis<% end %></span>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-lg">
                <div class="text-label">À destination de :</div>
                <p class="mb-4">
                  <strong class="text-body"><%= @quote.customer.first_name %> <%= @quote.customer.last_name %></strong><br>
                  <%= @quote.customer.company_name %><br>
                  <%= @quote.customer.address %><br>
                  <%= @quote.customer.zip_code %> <%= @quote.customer.country %><br>
                </p>
                <div class="text-label">Numéro de <% if @quote.is_invoice %>facture<% else %>devis<% end %></div>
                <% if @quote.is_invoice %><%= @quote.invoice_number %><% else %><%= @quote.quote_number %><% end %>
              </div>
              <div class="col-lg text-right">
                <div class="text-label">De la part de :</div>
                <p class="mb-4">
                  <strong class="text-body"><%= @quote.user.first_name %> <%= @quote.user.last_name %></strong><br>
                  <%= @quote.user.company_name %><br>
                  <%= @quote.user.address %><br>
                  <%= @quote.user.zip_code %> <%= @quote.user.country %><br>
                </p>
                <!--                <div class="text-label">Date d'échéance</div>-->
                <%# if @quote.is_invoice %><%#= @quote.invoice_sending_date + 3.days %><%# else %><%#= @quote.quote_sending_date + 3.days %><%# end %>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table border-bottom mb-4">
                <thead>
                <tr class="bg-light">
                  <th>Titre</th>
                  <th>Quantité</th>
                  <th class="text-right">Prix</th>
                </tr>
                </thead>
                <!--Quote content : goods quantity, title description ---------->
                <tbody>
                <% @quote.goods.each do |good| %>
                  <tr>
                    <td><%= good.title %></td>
                    <td><%= good.quantity %></td>
                    <td class="text-right"><%= number_to_currency(good.price, locale: :fr) %></td>
                  </tr>
                  <tr>
                    <td class="text-muted small"><%= good.description %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <!--Quote total amount ---------->
            <div class="bg-dark rounded">
              <h3 class="text-white text-right mr-5 pb-3 pt-4">Total : <%= number_to_currency(calculate_total_quote(@quote.goods), locale: :fr) %></h3>
            </div>
            <!--Terms and conditions ---------->
            <div class="text-label mt-4">Termes et conditions</div>
            <p class="text-muted small mx-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis feugiat erat, sed porta lacus pellentesque mattis. Suspendisse id vulputate mi. Nunc posuere varius sapien et commodo. Praesent pharetra nibh nulla, vitae cursus tellus semper ut. Sed nisl diam, ultrices id maximus in, mollis eu sapien.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
