<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white">

  <!-- Social medias -->
  <div class="container text-white justify-content-center mt-4 pt-3">
      <div class="text-center">
        <!-- Twitter -->
        <a href="https://twitter.com/explore"><i class="fa fa-twitter text-white mr-4"></i></a>
        <!-- Facebook -->
        <a href="https://www.facebook.com/Monka-104108831355275/"><i class="fa fa-facebook-f text-white mr-4"></i></a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/"><i class="fa fa-instagram text-white"></i></a>
      </div>
  </div>

  <!-- Three columns -->
  <div class="container text-center text-md-left mt-5">

    <div class="row mt-3 text-white">

      <!-- Left column -->
      <div class="col-12 col-md-4 mb-4 px-5">
        <h6 class="greenfoot text-uppercase font-weight-bold">Monka</h6>
        <hr class="hrw teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Une appli <span class="greenblue">100% made in France</span> pour les auto-entrepreneurs qui recherchent l'efficacité ! <br/>
          Développée avec fougue par <%=link_to "The Monka Team", "//github.com/Julio-Bento-Diddy-Lara-Detsou-team" ,class: "greenblue text-decoration-none"%> pour <%=link_to "THP", "//thehackingproject.org/fr", class:"greenblue text-decoration-none" %>.

        </p>
      </div>

      <!-- Middle column -->
      <div class="col-md-4 mx-auto mb-4 px-5">
        <h6 class=" greenfoot text-uppercase font-weight-bold">Mentions légales</h6>
        <hr class="hrw teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><%= link_to "Conditions générales d'utilisation", general_conditions_of_use_index_path, class: "text-white" %></p>
        <p><%= link_to "Notre Équipe", home_path(1), class: "text-white" %></p>
      </div>

      <!-- Right column -->
      <div class="col-md-4 mx-auto mb-md-0 mb-4 px-5">
        <h6 class=" greenfoot text-uppercase font-weight-bold">Contact</h6>
        <hr class="hrw teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fa fa-home mr-3"></i>8 rue du Poitou 75003, Paris</p>
        <p><i class="fa fa-envelope mr-3"></i><%=link_to "contact@monka.com", contacts_path, class:"greenblue text-decoration-none", target:"_blank" %></p>
        <p><i class="fa fa-phone mr-3"></i> +33 6 19 76 78 56</p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class=" footer-copyright text-center text-white-50 py-3 small">© 2020 Copyright:
    <%= link_to "monka.fr", root_path, class: "greenblue" %>
  </div>
</footer>
