<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Monka home button -->
  <a class="navbar-brand" href="<%= root_path %>">monka</a>

  <!-- Toggle button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navigation -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <!-- Change color for user -->
        <a class="nav-item nav-link <%= "active" if controller_name === 'users' && action_name === 'show' %>" href="<%= user_path(current_user) %>">
          Mon profil
          <% if controller_name === 'users' && action_name === 'show' %>
            <span class="sr-only">(current)</span>
          <% end %>
        </a>
        <!-- Change color for view index customer -->
        <a class="nav-item nav-link <%= "active" if controller_name === 'customers' && action_name === 'index' %>" href="<%= customers_path %>">
          Mes clients
          <% if controller_name === 'customers' && action_name === 'index' %>
            <span class="sr-only">(current)</span>
          <% end %>
        </a>
        <!-- Change color for view index quotes -->
        <a class="nav-item nav-link <%= "active" if controller_name === 'quotes' && action_name === 'index' %>" href="<%= quotes_path %>">
          Mes devis & factures </a>
        <% if controller_name === 'quotes' && action_name === 'index' %>
          <span class="sr-only">(current)</span>
        <% end %>
        <!--log out -->
        <%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete, class:"nav-item nav-link" %>
      <% else %>
        <li class="nav-item nav-link active">
          <a class="nav-item nav-link active" href="<%= root_path %>">Accueil <span class="sr-only">(current)</span></a>
          <%= link_to "Inscription", new_user_registration_path, class:"nav-item nav-link" %>
          <%= link_to "Connexion", new_user_session_path, class:"nav-item nav-link" %>
      <% end %>
    </div>
  </div>
</nav>

