<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <!-- Title -->
    <title>Monka</title>
    <!-- Favicon -->
    <%= favicon_link_tag 'calculate_vert_icon160.png' %>
    <!-- CSS -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

    <header>
      <%= render "layouts/navbar" %>
    </header>

    <% if controller_name === 'home' && action_name === 'index' %>
      <% unless user_signed_in? %>
        <%= render "layouts/jumbotron" %>
      <% end %>
    <% end %>

    <main>
      <div class="container">
        <%= render "layouts/flash_messages" %>
        <%= yield %>
      </div>
    </main>

    <%= render "layouts/footer" %>

    <%= javascript_include_tag 'application', 'data-track' => 'reload' %>
    <%= content_for :footer_scripts %>
  </body>
</html>
